footer{color:#555;text-shadow:0 1px 1px #fff;margin:30px 0;}footer .sitemap{position:relative;width:960px;margin:0 auto;}footer .sitemap h4{font-size:16px;margin-bottom:6px;}
footer .sitemap a{color:#555;}footer .sitemap a:hover{text-decoration:underline;}
footer ul{padding-left:0;margin:0;list-style:none;}footer ul li{line-height:22px;}
footer .span-8{width:150px;float:left;margin-left:15px;margin-right:10px;}
footer .prepend-1{padding-left:15px;}
footer .license{padding-top:16px;clear:both;height:27px;}footer .license p{padding-left:15px;border-top:1px #DDD solid;text-align:left;line-height:25px;position:relative;width:960px;margin:0 auto;color:#CCC;}
